@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background:hsl(217, 100%, 97%);
}

.form-wrapper{
    background: white;
    display: flex;
    padding:1rem;
    border-radius:0.8rem;
    box-shadow:0 10px 2rem -0.5rem rgba(0, 0, 0, 0.096);
    position:relative;
}

.steps-container{
    background: url(assets/images/bg-sidebar-desktop.svg);
    height:568px;
    width:274px;
    padding:2rem;
    padding-top:2.5rem;
    display: flex;
    flex-direction: column;
    row-gap:1.8rem;
    color:white;
}

.steps-container section{
    display: flex;
    column-gap: 1rem;
}

.steps-container section .number-display-container{
    width:2.1rem;
    height:2.1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size:1rem;
    font-weight:500;
    border:solid 1px white;
    padding-bottom:0.1rem;
    transition:background-color 400ms,
                border 400ms,
                color 400ms;
}

.steps-container section .number-display-container.current-page{
    border-width:0px;
    background-color: hsl(206, 94%, 87%);
    color:black;
}
    

.step-info-container .step-text{
    font-size:0.84rem;
    color:hsl(231, 11%, 63%);
    margin-bottom: 0.15rem;
}

.step-info-container .step-description{
    font-weight:700;
    font-size:0.9rem;
    letter-spacing: 0.07rem;
}

.pages-container{
    margin-left:6.15rem;
    margin-right:5.15rem;
    margin-top:2.55rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
    width:28.2rem;
}

.btn-container{
    position: absolute;
    width:28.2rem;
    height:5rem;
    bottom:20px;
    right:6.15rem;
    transition:background-color 200ms;
}

.btn-container button{
    font-size:1rem;
    outline:none;
    border:none;
    font-family:'Ubuntu', sans-serif;
    position:absolute;
    cursor: pointer;
    user-select: none;
}

.btn-container .previous-page{
    display:none;
    background:transparent;
    left:0;
    padding:0;
    color:hsl(231, 11%, 63%);
    font-weight: 500;
    font-size:1.1rem;
    transition: color 100ms,
        opacity 400ms;
    bottom:1.9rem;       
}

.btn-container .previous-page:hover{
    color:hsl(213, 96%, 18%); 
}

.btn-container .next-page{
    padding:0.9rem 1.6rem;
    border-radius:0.5rem;
    background: hsl(213, 96%, 18%);
    color:white;
    right:0;
    bottom:1rem;
    transition:background-color 100ms,
                opacity 400ms; 
}

.btn-container .next-page.confirm{
    background-color:hsl(243, 100%, 62%);
}

.btn-container .next-page.confirm:hover{
    background-color:hsl(244, 98%, 77%);
}
.btn-container .next-page:hover{
    background:hsl(214, 72%, 32%);
}

.page-1,
.page-2,
.page-3,
.page-4,
.thank-you-page
{
    transition:opacity 200ms;
}

/*page1*/


.page h1{
    color:hsl(213, 96%, 18%);
    margin-bottom: 0.6rem;
}

.page .header-description{
    color:hsl(231, 11%, 63%);
    font-size:1rem;
    margin-bottom:2.5rem;
}

.page-1 form .input-container{
    position:relative;
}

.page-1 form .input-container .error-prompt{
    position:absolute;
    color:hsl(354, 84%, 57%);
    font-weight:700;
    top:0;
    right:0;
    text-align: end;
    font-size:0.93rem;
}

.page-1 form .input-container label{
    display: inline;
    font-weight: 500;
    color:hsl(213, 96%, 18%);
    font-size:0.91rem;
}

.page-1 form .input-container input{
    display:block;
    font-family: 'Ubuntu', sans-serif;
    margin-top:0.5rem;
    width:100%;
    padding:0.9rem;
    font-weight:700;
    border-radius: 0.4rem;
    font-size:1rem;
    outline:none;
    border:1px solid hsl(229, 24%, 87%);
    margin-bottom: 1.4rem;
    transition:border-color 200ms;
}

.page-1 form .input-container input.error-border-color{
    border-color:hsl(354, 84%, 57%);
}
.page-1 .input-container input::placeholder { 
    color: hsl(231, 11%, 63%);
    opacity: 1;
    font-weight: 400; 
}
 
.page-1 form .input-container input:focus{
    border-color:hsl(243, 100%, 62%);
} 

.page-1 .input-container input:-ms-input-placeholder { 
    color: hsl(231, 11%, 63%);
    user-select: none;
  }
  
.page-1 .input-container input::-ms-input-placeholder { 
    color: hsl(231, 11%, 63%);
  }

/*page-2*/

.page-2{
    display: none;
}

.page-2 .plans-form{
    display:flex;
    justify-content: space-between;
    margin-bottom:2rem;
}

.page-2 .plans-form input{
   display: none;
}

.page-2 .plans-form label{
    padding:1.15rem 0.9rem;
    border:solid 1px hsl(229, 24%, 87%);
    width:8.7rem;
    border-radius:0.5rem;
    cursor:pointer;
    transition:border-color 200ms,
                background-color 200ms;
}

.page-2 .plans-form label .plan-name{
    font-size:1.05rem;
    font-weight:500;
    color:hsl(213, 96%, 18%);
    margin-top:2.6rem;
    margin-bottom:0.4rem;
    user-select: none;
}

.page-2 .plans-form label img{
    user-select: none;
}

.page-2 .plans-form label .plan-cost{
    color:hsl(231, 11%, 63%);
    font-size:0.9rem;
    user-select: none;
}

.page-2 .plans-form label:hover{
    border-color: hsl(243, 100%, 62%);
}
.page-2 .plans-form input:checked + label {
    border-color:hsl(243, 100%, 62%);
    background: hsl(230, 75%, 98%);
}

.page-2 .mon-year-form{
    background:hsl(231, 100%, 99%);
    width:100%;
    padding:0.8rem 0;
    border-radius:0.5rem;
    display: flex;
    justify-content: center;
}

.page-2 .mon-year-form input[type="checkbox"]{
    display:none;
}

.page-2 .mon-year-form label{
    display:flex;
    position: relative;
    background-color:hsl(213, 96%, 18%);
    width:2.45rem;
    height:1.3rem;
    border-radius:5rem;
    cursor:pointer;
    justify-content: flex-start;
    align-items: center;
    padding-left:0.23rem;
    flex-shrink: 0;
}

.page-2 .mon-year-form label p{
    position:absolute;
    font-weight:500;
    font-size:0.95rem;
    top:50%;
    transform:translateY(-60%);
    user-select: none;
    transition:color 200ms;
}

.page-2 .mon-year-form label p.month{
    left:-5.1rem;
}

.page-2 .mon-year-form label p.year{
    right:-4.3rem;
}

.page-2 .mon-year-form label .slider-circle{
    width:0.79rem;
    height:0.79rem;
    border-radius: 50%;
    background:white;
    flex-shrink: 0;
    transition:transform 200ms;
}

.page-2 label .plan-offer{
    margin-top:0.4rem;
    font-size:0.8rem;
    color:hsl(213, 96%, 18%);
}

.page-2 .mon-year-form input[type="checkbox"]:not(:checked) + label .month{
    color:hsl(213, 96%, 18%);
}

.page-2 .mon-year-form input[type="checkbox"]:not(:checked) + label .year{
    color:hsl(231, 11%, 63%);
}

.page-2 .mon-year-form input[type="checkbox"]:checked + label .month{
    color:hsl(231, 11%, 63%);
}

.page-2 .mon-year-form input[type="checkbox"]:checked + label .slider-circle{
    transform:translate(1.21rem);              
}

/*page-3*/

.page-3{
  display: none;
}

.page-3 form label{
    display:flex;
    padding:1.2rem 1.4rem;
    border:1px solid hsl(229, 24%, 87%);
    border-radius:0.5rem;
    align-items: center;
    transition:border-color 200ms,
                background-color 200ms;
    cursor: pointer;
    user-select: none;
    margin-bottom:1rem;
}

.page-3 form label:hover{
    border-color: hsl(243, 100%, 62%);
}

.page-3 form label input[type="checkbox"]{
    appearance: none;
    width:1.3rem;
    height:1.3rem;
    border:solid 1px hsl(229, 24%, 87%);
    border-radius:0.25rem;
    margin-right:1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:background-color 200ms;
}

.page-3 form label input[type="checkbox"]:after{
    content: url(assets/images/icon-checkmark.svg);
}

.page-3 form label input[type="checkbox"]:checked{
    background:hsl(243, 100%, 62%);
}


.page-3 form label h2{
    font-size:1rem;
    font-weight:500;
    color:hsl(213, 96%, 18%);
    margin-bottom:0.4rem;
}

.page-3 form label .mid-section .header-description{
    font-size:0.93rem;
    color:hsl(231, 11%, 63%);
    margin-bottom:0;
    line-height: normal;
}

.page-3 form label .add-on-price{
    color:hsl(243, 100%, 62%);
    font-size:0.95rem;
    margin-left:auto;
}

.page-3 form label:has(input[type="checkbox"]:checked){
    border-color:hsl(243, 100%, 62%);
    background-color:hsl(230, 75%, 98%);
}

/*page-4*/

.page-4{
   display: none;
}

.page-4 .plans-confirm-container{
    background-color:hsl(230, 75%, 98%);
    padding:1.4rem;
    border-radius:0.5rem;
    display:flex;
    flex-direction: column;
    gap:1.3rem;
    margin-bottom:1.5rem;
}

.page-4 .plan-container,
.page-4 .add-on-container,
.page-4 .total-cost-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.page-4 .plan-container .left-section .plan-name{
    font-weight:500;
    font-size:1rem;
    color:hsl(213, 96%, 18%);
    margin-bottom:0.2rem;
}

.page-4 .plan-container .left-section .change-plan{
    font-size:0.9rem;
    color:hsl(231, 11%, 63%);
    transition: color 200ms;
    user-select: none;  
}

.page-4 .plan-container .left-section .change-plan:hover{
    color:hsl(243, 100%, 62%);
}

.page-4 .plan-container .plan-cost{
    font-size:1rem;
    font-weight:700;
    color:hsl(213, 96%, 18%);
}

.page-4 .plans-confirm-container .line-divider{
    border-top:1px solid hsl(229, 24%, 87%);
}

.page-4 .plans-confirm-container .add-on-container .add-on-name{
    color:hsl(231, 11%, 63%);
    font-size:0.9rem;
}

.page-4 .plans-confirm-container .add-on-container .add-on-cost{
    color:hsl(213, 96%, 18%);
    font-size:0.9rem;
}

.page-4 .total-cost-container {
    padding:0 1.4rem;
}

.page-4 .total-cost-container .total-text{
    color:hsl(231, 11%, 63%);
    font-size:0.9rem;
}

.page-4 .total-cost-container .total-cost{
    color:hsl(243, 100%, 62%);
    font-weight:700;
    font-size:1.3rem;
}

/*thank you page*/

.thank-you-page{
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom:2.55rem;
}

.thank-you-page img{
    width:80px;
    height:80px;
    margin-bottom:2rem;
}

.thank-you-page h1{
    margin-bottom:1rem;
}

.thank-you-page .header-description{
    text-align: center;
    line-height: 1.4rem;
}

.pages-container.thank-you-align{
    justify-content: center;
}

/*meida-query 425px*/

@media (max-width:425px){
    .form-wrapper{
        position:relative;
        background: transparent;
        box-shadow:none;
        width:100vw;
        height:100vh;
        padding:0;  
    }

    .steps-container{
        position:absolute;
        flex-direction: row;
        gap:1.5rem;
        justify-content: center;
        height:12rem;
        width:100%;
        background-position-y:-600px;
        background-repeat: no-repeat;
        background-size:cover;
        padding-top: 2rem;
        top:0;
    }

    .page .header-description{
        margin-bottom:1.6rem;
        font-size:1.1rem;
        line-height: 1.5rem;
    }

    .page-1 form .input-container input{
        margin-bottom: 1.2rem;
    }

    .page-1 form .input-container .error-prompt{
        font-size:0.85rem;
    }

    .page-1 form .input-container:last-child input{
        margin-bottom:0.5rem;
    }
    .steps-container section .step-info-container{      
        display: none;  
    }

    .pages-container{
        position:absolute;
        left:50%;
        transform: translateX(-50%);
        margin:0;
        background-color: white;
        width:92vw;
        padding:1.8rem;
        top:7rem;
        border-radius:0.5rem;
        box-shadow: 0 10px 2rem -0.5rem rgba(0, 0, 0, 0.096);
    }

    .btn-container{
        background-color: white;
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        height:5rem;
        width:auto;
    }

    .btn-container .previous-page{
        left:20px;
        bottom:50%;
        transform:translateY(50%);
    }

    .btn-container .next-page{
        right:20px;
        bottom:50%;
        transform:translateY(50%);
        border-radius: 0.5rem;
    }

    .page-2 .plans-form{
        flex-direction: column;
        gap:0.8rem;
    }

    .page-2 .plans-form label{
        flex-direction: row;
        width:100%;
        padding:1rem;
        padding-bottom: 0;
    }

    .page-2 .plans-form label img{
        float:left;
        margin-right:1rem;
        margin-bottom:1rem;
    }

    .page-2 .plans-form label .plan-offer{
        margin-bottom: 1rem;
        white-space: nowrap;
    }

    .page-2 .plans-form label .plan-name{
        margin-top:0;
    }

    .page-3 form label{
        padding:0.85rem 1rem;
    }

    .page-3 form label .mid-section .header-description{
        font-size:0.85rem;
    }

    .page-3 form label input[type="checkbox"]{
        margin-right:1rem;
        flex-shrink: 0;
    }
    
    .thank-you-page{
        padding-bottom:0;
        margin:5rem 0;
    }

    .thank-you-page .header-description{
        margin-bottom: 0;
    }

}

@media (max-width:390px){
    .steps-container{
        background-position-y: -500px;
    }
}

@media (max-width:340px){
    .steps-container{
        background-position-y: -400px ;
    }

    .page-1 form .input-container .error-prompt{
        display:none;
    }
}

@media (max-width:300px){
    .steps-container{
        background-position-y: -350px ;
    }
    .pages-container{
        padding:1.5rem 1.1rem;
    }
}

@media (max-width:280px){
    .steps-container{
        background-position-y: -260px ;
    }
}

@media (max-width:230px){
    .steps-container{
        gap:0.8rem;
    }
}